*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fefefe;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input[type="file"] {
  color: #006400 !important;
}

input[type="file"]:focus {
  border-color: #588158;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #588158;
  outline: 0 none;
}

.form-control {
  border: 1px solid #a1d4a1;
}

.text-primary {
  color: #008300 !important;
}

.btn-primary,
.btn-primary:visited {
  background: #008300 !important;
  border-color: #008300 !important;
  transition: 300ms;
}
.btn-primary:hover,
.btn-primary:active {
  background: #006400 !important;
  border-color: #006400 !important;
}

.form-control:focus {
  border-color: #008300;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #008300aa;
}

.btn:focus {
  border-color: #008300 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #008300aa !important;
}

a,
a:visited {
  color: #008300;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: 300ms;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #588158;
}

.bg-primary {
  background: #008300 !important;
}